<!-- <h1> <%= @player_1_name %> VS. <%= @player_2_name %> </h1>
<br></br> -->

<table>
  <tr>
    <th> 
      <font size="15"> <%= @player_1_name %> </font>
    </th>
    <th> 
      <font size="50"> VS. </font>
    </th>
    <th> 
      <font size="15"> <%= @player_2_name %> </font>
    </th>    
  </tr>

    <tr>
  	  <td align = "center"> 
  	    <img src = "http://drakinan.weebly.com/uploads/1/3/4/1/13418183/4623978_orig.gif" height = "35%">
  	  </td>
	  <td align = "center"> </td>
  	  <td align = "center"> 
  	  <img src = "http://uproxx.files.wordpress.com/2013/03/bender13.gif?w=650" height = "110%">
  	  </td>
   </tr>

   <tr>
  	  <td align = "center"> 
  	    <form action = "/attack" method = "get">
  	     <input type = "submit" value = "Attack <%= @player_2_name %>!"> 
  	    </form>
  	  </td>
  	  <td align = "center"> </td>
  	  <td align = "center"> 
  	    <form action = "/attack" method = "get">
  	     <input type = "submit" value = "Attack <%= @player_1_name %>!">
  	    </form>
  	  </td> 
   </tr>

    <tr>
      <td align = "center"> jini: 100HP </td>
      <td align = "center"> </td>
      <td align = "center"> andrew: 100HP </td>
   </tr>

</table>


<style>

input[type=submit]{
	background-color: white;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-color: red;
}

</style>

<!-- 
<%= @player_2_name %>: 50HP
<%= @player_1_name %>: 50HP

<style>
h1 {
    font-size: 60px;
    color: red; 
}
</style>
 -->


