
<table>
  <tr>
    <th>
      <font id = "player1heading"> <%= @player_1_name %> </font>
    </th>
    <th>
      <font id = "player2heading"> <%= @player_2_name %> </font>
    </th>
  </tr>
  <tr>
  	<td align = "center">
  	  <img id = "homer" src = "http://bestanimations.com/Cartoons/Simpsons/the-simpsons-animated-gif-4.gif" height = "110%">
  	</td>
  	<td align = "center">
  	  <img id = "bender" src = "http://uproxx.files.wordpress.com/2013/03/bender13.gif?w=650" height = "110%">
  	</td>
   </tr>
   <br></br>
   <br></br>
   <br></br>
   <tr>
  	  <td align = "center">
  	    <form action = "/attack" method = "get">
  	     <button id = "button1" type = "submit" name = "player1" value = "Submit">Attack <%= @player_2_name %>!</button>
  	    </form>
  	  </td>
  	  <td align = "center">
  	    <form action = "/attack" method = "get">
  	     <button id = "button2" type = "submit" name = "player2" value = "Submit">Attack <%= @player_1_name %>!</button>
  	    </form>
  	  </td>
   </tr>

   <tr>
  	  <td align = "center">
  	    <h2 id = "player1HP" align = "center"> <%= @player_1_name %> has <%= @player_1_hp %> HP</h2>
  	  </td>
  	  <td align = "center">
  	     <h2 id = "player2HP" align = "center"> <%= @player_2_name %> has <%= @player_2_hp %> HP </h2>
  	  </td>
   </tr>
</table>


<style>

table {
   height:100%;
   width:100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

html {
  background: url(http://cdn.rsvlts.com/wp-content/uploads/2015/08/2012-04-10-the_simpsons_springfield.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


input[type=submit]{
	  background-color: white;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-color: red;
}

#player1heading {
  margin-right: 80px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

#player2heading {
  margin-right: 300px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

#bender {
  margin-right: 300px;
}

#homer {
  margin-right: 60px;
}

#button2 {
  margin-right: 300px;
}

button:hover{
  background: #3B5C76;
}

button {
    border-radius: 4px;
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
  }

#player1HP {
  color: white;
}

#player2HP {
  color: white;
  margin-right: 300px;
}

</style>
